body {
	background: #f4f5f7;
	font-family: helvetica, arial;
}

.Toggles {
	margin-top: 50px;
}

.toggleHolder {
	text-align: center;
}

	.toggleHolder h3, .toggleHolder p {
		text-align: center;
		margin: 5px;
		color: rgba(0, 0, 0, .8)
	}

	.toggleWrapper {
			width: 100%;
	}

	.toggleWrapper .toggleLabel {
			width: 50px;
			display: inline-block;
	}

			.toggleWrapper .toggleLabel p {
					color: rgba(0, 0, 0, .5);
					overflow: hidden;
					transition: all .3s ease-in-out;
			}

					.toggleWrapper .toggleLabel.active p {
							color: rgba(0, 0, 0, .8)
					}

	.toggle {
			display: inline-block;
			width: 50px;
			height: 25px;
			border-radius: 100px;
			position: relative;
			margin: auto;
			overflow: hidden;
			border: solid 1px rgba(0, 0, 0, .3);
			transition: all .3s ease-in-out;
			cursor: pointer;
	}

			.toggle.active {
				border: solid 1px #00cf67;
			}

			.toggle .inside {
					width: 75%;
					height: 100%;
					border-radius: 100px;
					background: rgba(0, 0, 0, .3);
					position: absolute;
					left: -25%;
					transition: all .3s ease-in-out;
			}

			.toggle.active .inside {
					left: 50%;
					background: #00cf67;
			}